@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Varela Round", serif;
}
body{
    /* background-color: #003161; */
    background: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    height: 8rem;
    background-color: #000B58;
    color: #FFF4B7;
    display: grid;
    place-items: center;
}
section{
    display: flex;
    height: 22rem;
    width: 80%;
    margin: 50px auto;
}
.section1, .section2{
    margin: 0 75px;
    width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.section1 h2{
    margin-bottom: 50px;
}
.section1 p{
    margin-bottom: 10px;
    margin-left: 17px;
}
.section2 h2{
    margin-bottom: 10px;
}
button{
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    margin: 10px;
    background-color: #006A67;
}
button:hover{
    background-color: #053534;
    color: white;
}
input{
    height: 20px;
    width: 100%;
    margin: 8px 0;
}
.textarea{
    height: 68px;
}
form{
    height: auto;
}
.registerButton{
    width:94%;
}
.section1 button{
    margin-top: 50px;
}
footer{
    color: antiquewhite;
    font-size: 18px;
    height: 5rem;
    width: 100%;
    background-color: #000B58;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0px;
}